{% extends 'todoapp/layout.html' %}

{% block content %}

<div style="margin-top 50px;" class="ui container">
    <h1>Мой todo-list</h1>
    <h3 class="header3">Управление свой жизнью!</h3>
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div>
            <label>Новая задача</label><br>
            <input type="text" name="title" placeholder="Введите название задачи"><br>
        </div>
    </form>




{% for todo in todo_list %}
<div class="ui segment" style="background:lightgrey">

    {% if todo.is_complete == False %}


        <p><input type="checkbox" name="color-1" value="indigo"> <a class="todos_headers">№{{ todo.id }} {{ todo.title }}</a>   <a class="todo_but" href="{% url 'update' todo_id=todo.id %}">✓</a> <a class="delete_but" href="{% url 'delete' todo_id=todo.id %}">🗑️</a></p>

    {% else %}

        <p ><input type="checkbox" name="color-1" value="indigo"checked><a class="todos_headers_line-through"> №{{ todo.id }} {{ todo.title }}</a>   <a class="todo_but" href="{% url 'update' todo_id=todo.id %}">✓</a> <a class="delete_but" href="{% url 'delete' todo_id=todo.id %}">🗑️</a></p>
        {% endif %}

</div>

{% endfor %}
</div>
{% endblock %}